<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxb.ownmallmapper.mapper.UmsAdminMapper">
  <resultMap id="BaseResultMap" type="com.zxb.ownmallmapper.pojo.UmsAdmin">
    <id column="admin_id" jdbcType="VARCHAR" property="adminId" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="icon_id" jdbcType="VARCHAR" property="iconId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="sys_id" jdbcType="VARCHAR" property="sysId" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <resultMap id="RoleBaseResultMap" type="com.zxb.ownmallmapper.pojo.UmsRole">
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="available" jdbcType="VARCHAR" property="available" />
    <result column="admin_count" jdbcType="VARCHAR" property="adminCount" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="sys_id" jdbcType="VARCHAR" property="sysId" />
  </resultMap>
  <resultMap id="PermisssionBaseResultMap" type="com.zxb.ownmallmapper.pojo.UmsPermission">
    <id column="permission_id" jdbcType="VARCHAR" property="permissionId" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="permission_desc" jdbcType="VARCHAR" property="permissionDesc" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="sys_id" jdbcType="VARCHAR" property="sysId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from ums_admin
    where admin_id = #{adminId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zxb.ownmallmapper.pojo.UmsAdmin">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <selectKey keyProperty="adminId" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_admin (admin_name, `password`, icon_id, 
      email, nick_name, note, 
      create_time, sys_id, salt, 
      `state`)
    values (#{adminName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{iconId,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{sysId,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zxb.ownmallmapper.pojo.UmsAdmin">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update ums_admin
    set admin_name = #{adminName,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      icon_id = #{iconId,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      sys_id = #{sysId,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      `state` = #{state,jdbcType=VARCHAR}
    where admin_id = #{adminId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select admin_id, admin_name, `password`, icon_id, email, nick_name, note, create_time, 
    sys_id, salt, `state`
    from ums_admin
    where admin_id = #{adminId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select admin_id, admin_name, `password`, icon_id, email, nick_name, note, create_time, 
    sys_id, salt, `state`
    from ums_admin
  </select>

  <select id="selectUmsAdminOne" resultMap="BaseResultMap" parameterType="com.zxb.ownmallmapper.pojo.UmsAdmin">
    select admin_id, admin_name, `password`, icon_id, email, nick_name, note, create_time,
    sys_id, salt, `state`
    from ums_admin where admin_name = #{adminName,jdbcType=VARCHAR}
  </select>

  <select id="selectRoleOfThisAdmin" resultMap="RoleBaseResultMap" parameterType="com.zxb.ownmallmapper.pojo.UmsAdmin">
   select
   ums_role.role_id, ums_role.role_name, ums_role.description,ums_role.available,
   ums_role.admin_count, ums_role.sort, ums_role.sys_id
   from
    ums_admin
    LEFT JOIN ums_admin_role ON ums_admin.admin_id=ums_admin_role.admin_id
     LEFT JOIN ums_role on ums_admin_role.role_id=ums_role.role_id
     where ums_role.sys_id = #{sysId,jdbcType=VARCHAR} and ums_admin=#{adminId,jdbcType=VARCHAR}
  </select>

  <select id="selectPermissionOfThisAdmin" resultMap="PermisssionBaseResultMap" parameterType="com.zxb.ownmallmapper.pojo.UmsAdmin">
   select
    ums_permission.permission_id,
     ums_permission.permission_name,
     ums_permission.permission_desc,
     ums_permission.create_time,
     ums_permission.update_time,
     ums_permission.sys_id
    from
     ums_admin LEFT JOIN ums_admin_role ON ums_admin.admin_id=ums_admin_role.admin_id
      LEFT JOIN ums_role on ums_admin_role.role_id=ums_role.role_id
       LEFT JOIN ums_role_permission ON ums_role.role_id = ums_role_permission.role_id
       LEFT JOIN ums_permission ON ums_role_permission.permission_id = ums_permission.permission_id
      where ums_role.sys_id = #{sysId,jdbcType=VARCHAR} and ums_admin=#{adminId,jdbcType=VARCHAR}
  </select>
</mapper>